body {
    background-image: url('../public/files/background.png');

    background-repeat: repeat;
    color: lightgray;
}

p{
    font-family: Arial, Verdana, sans-serif;
    color: lightgray;
}

h3, h2, h5{
    font-family: Arial, Verdana, sans-serif;
    color: lightgray;
    text-align: center;
    margin-bottom: 10px;
}

.text{
    border-left: 2px solid white;
}

.navbar-nav .nav-item .nav-link{
    color: lightgray;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover{
    display: block;
    color: black;
}

.navbar{
    background-image: url('../public/files/pozadie-navbar.png');
    margin-bottom: 25px;
}

.forum {
    margin: 2px;
}

.textfield {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form-entry{
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto 50px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.btn-form{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.no-reg{
    width: 30%;
}

.btn-form:hover, .btn-form:active, .btn-form:focus{
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
 .form .errmsg{
     color:red;
 }

 .imgForum{
     max-width: 100%;
     max-height: 500px;
     height: auto;
     border-right: 2px solid white;
 }

* {
    box-sizing: border-box;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.left-container {
    flex: 50%;
    margin: 5px;
}

.right-container {
    flex: 50%;
    margin: 5px;
    padding-left: 10px;
    border-left: 2px solid white;
    position: relative;
}

.button-container{
    float:right;
}

@media (max-width: 1000px) {
    .main-container {
        flex-direction: column;
    }
}

.btn-load-forum {
    background-color: transparent;
    background-repeat: no-repeat;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: lightgray;
}

.btn-load-forum:hover{
    display: block;
    color: black;
}

.btn-primary{
    margin-right: 5px;
}

.btn-update {
    color: #4CAF50;
}

.btn-update:hover{
    color: darkgreen;
}

.btn-delete{
    color: red;
}

.btn-delete:hover{
    color: darkred;
}



